.menu_container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}
.button{
    display: flex;
}
#menubox

.top{
    text-align: center;
}
.menu_button{
    display: flex;
    justify-content: space-evenly;
}

body{
    font-family: heebo;
}
header{
    position: sticky;
    top: 0;
    z-index: 2;
}
*{
    margin: 0
}
.exp{
    font-size: oswald;
}



.textcon{
    align-content: center;
}
.year{
    margin-right: 15px;
}
.vline{
    width: 4px;
    height: 54px;
    background-color: orange;
    margin-right: 20px;
    padding-top: 20px;
    
}
.abt{
    display: flex;
}
.hline{
    width: 50px;
    height: 3px;
    background-color: orange;
    margin-top: 14px;
    margin-left: 10px;
}
.experience-container{
    display: flex;
    width: 50%;
   
}
.container{
    display: flex;
}
.masters{
    width: 50%;
    display: flex;
}
.aboutus{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    font-size: 23px;
    

}




.pictures{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 800px; /* Adjusted to match image template */
    margin: auto;
    margin-top: 50px;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    background-color: #333;
}
.box1 {
    height: 250 px; /* Height for the first box */
    width: 250 px;
}
.box2 {
    height: 400px; /* Height for the second box */
}
.box3 {
    height: 200px; /* Height for the third box */
}
.box4 {
    height: 200px; /* Height for the fourth box */
}

.details{
    width: 800px;
    padding: 30px;
    margin-top: 100px;
    
    
  
}
nav{
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    /* background-color: aquamarine; */
    background-color: rgb(14, 23, 44);

    
}
.navlinks{
    width: 40%;
    font-family: beebo;
    font-size: larger;
   
}
.navlinks ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}
.logo{
    display: flex;
    justify-content: space-between;
    font-family: Bebas Neue;
    font-size: 40px;
    color: orange;
    
    width: 13%;
}
a{
    text-decoration: none;
    color: black;
}
.hero{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    background-image: url("https://themewagon.github.io/restoran/img/bg-hero.jpg");
    background-color: rgb(81, 104, 173);
    background-blend-mode:multiply ;
    background-repeat: no-repeat;
    background-size:cover;
    z-index: -1;
}
h1{
    font-family: oswald;
    font-size: 64px;
    
}
.intro{
    align-content: space-around;
    padding-left: 5%;
    
    height: 60%;
    width: 50%;
    color: white;
    
    
}
.photo{
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    /* justify-items: center; */
    
    
}

#hero1{
    animation-name: rotate;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;
    
    
}
@keyframes rotate {
    0%{
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(90deg);
    }
    50%{
        transform: rotateZ(180deg);
    }
    75%{
        transform: rotateZ(270deg);
    }
    100%{
        transform: rotateZ(360deg);

    }
    
}

img{
    height: 80%;
    
   
}
.services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:100px ;
    margin-bottom: 100px;
    width: 100%;
    flex-wrap: wrap;
}
main{
    align-content: space-between;
    height: 100%;
    
}
.chefs{
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    background-color: white;
    width: 300px;
    height:250px;
    align-content: space-around;
    justify-content: space-around;
    transition-duration: 1s;
    padding: 20px;
   
 
}
.chefs:hover{
    height: 350px;
    width: 400px;
    font-size: 30px;
    background-color: red;

    color: white;
}
.qualityfood{
    font-size: 20px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    background-color: white;
    width: 300px;
    height:250px;
    align-content: space-around;
    justify-content: space-around;
    transition-duration: 1s;
    padding: 20px;
}
.qualityfood:hover{
    height: 350px;
    width: 400px;
    font-size: 30px;
    background-color: red;

    color: white;
}
.onlineorder{
    font-size: 20px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    background-color: white;
    width: 300px;
    height:250px;
    align-content: space-around;
    justify-content: space-around;
    transition-duration: 1s;
    padding: 20px;
}
.onlineorder:hover{
    height: 350px;
    width: 400px;
    font-size: 30px;
    background-color: red;
    transition-duration: 1s;
    color: white;
}
.help{
    font-size: 20px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    background-color: white;
    width: 300px;
    height:250px;
    align-content: space-around;
    justify-content: space-around;
    transition-duration: 1s;
    padding: 20px;
}
.help:hover{
    height: 350px;
    width: 400px;
    font-size: 30px;
    background-color: red;

    color: white;
}
#book{
    background-color:orange;
    
    
}
.sercvicelogos{
    color: gold;
}
h5{
    font-size: large;
}



